%form#new_project_ref{:action => '/ci/new', :method => 'post'}
  %label
    %h3 Origin URL
    %input{:name => 'origin_url', :type => :text, :placeholder => 'https://github.com/deadlyicon/example_hobson_project/tree/development'}
  %label
    %h3 Ref
    %input{:name => 'ref', :type => :text, :placeholder => 'master', :value => 'master'}
  %label
    %input{:type => :submit, :value => 'watch'}

:javascript
  Hobson.autoRefresh.on = false;
