- page_title "CI"
-# auto_refresh!

%secion.ci

  %a{:href => '/ci/new'} new

  %ul.project_refs
    - project_refs.each do |project_ref|
      - history = Hobson::CI::ProjectRef::HISTORY_LENGTH.times.to_a.zip(project_ref.test_run_statuses).reverse
      - current = history.shift.last
      %li.project_ref{:class => test_run_status_color(current)}

        .project= project_ref.project.name.gsub(/-|_/,' ')

        .ref= project_ref.ref

        %ol.history
          - history.each do |n, test_run_status|
            %li.test_run{:class => test_run_status_color(test_run_status)}

        .icon
          .red !
          .green ✓
          .blue ?
