- page_title "CI"
- auto_refresh!

%secion.ci

  %a{:href => '/ci/new'} new

  %ul.project-refs
    - project_refs.each do |project_ref|
      - project = project_ref.project
      - test_runs = project_ref.test_runs.clone
      - current_test_run = test_runs.shift
      %li.project-ref{:class => test_run_status_classname(current_test_run.try(:status))}

        %a.gear{:href => project_ref_path(project_ref)} ⚙

        %a.project{:href => project_path(project)}
          = project.name.gsub(/-|_|\./,' ')

        %a.ref{:href => ref_url(project.origin, project_ref.ref)}
          = project_ref.ref

        .history
          - test_runs.reverse.each do |test_run|
            - if test_run.present?
              %a.test-run{:title => test_run.id, :href => test_run_path(test_run), :class => test_run_status_classname(test_run.status)}
            - else
              .test-run{:class => 'nil'}

        - test_run_status_icon(current_test_run) do
          .fail !
          .pass ✓
          .building ⚙
          .nil ?

:javascript
  Hobson.CI.pollForChanges();
