- page_title "CI"
- auto_refresh!

%secion.ci

  %a{:href => '/ci/new'} new

  %ul.project_refs
    - project_refs.each do |project_ref|
      - project = project_ref.project
      - history = Hobson::CI::ProjectRef::HISTORY_LENGTH.times.to_a.zip(project_ref.history).reverse
      - current_test_run_id , current_test_run_status = history.pop.last
      %li.project_ref{:class => test_run_status_color(current_test_run_status)}

        %a.project{:href => project_path(project)}
          = project.name.gsub(/-|_/,' ')

        %a.ref{:href => ref_url(project.origin, project_ref.ref)}
          = project_ref.ref

        .history
          - history.each do |n, (test_run_id, test_run_status)|
            %a.test_run{:href => test_run_path(test_run_id, project.name), :class => test_run_status_color(test_run_status)}

        %a.icon{:href => test_run_path(current_test_run_id, project.name)}
          .red !
          .green ✓
          .blue ?

:javascript
  Hobson.CI.pollForChanges();
