!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title #{@page_title} | Hobson
    %link{:href => "/reset.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/jquery.js", :type => "text/javascript"}
    %script{:src => "/application.js", :type => "text/javascript"}
  %body
    %h1 Hobson

    = partial :breadcrum

    #content= yield
    %img#background-image{:src => '/hobson.jpg'}
