- page_title "New Project"

%section.new-project
  - project = params['project'] || {}
  %form{:action => projects_path, :method => :post}
    %input{:type => :hidden, :name => :_method, :value => :put}
    %label
      %strong Origin:
      %input{:name => 'project[origin]', :type => :text, :value => project['origin'], :required => true}
    %label
      %strong Name:
      %input{:name => 'project[name]', :type => :text, :value => project['name']}
    %label
      %strong Homepage:
      %input{:name => 'project[homepage]', :type => :text, :value => project['homepage']}
    %label
      %input{:type => :submit, :value => 'create'}
