%table.test-runs
  %thead
    %tr
      %th
      %th Status
      %th Test Run Id
      %th Git Sha
      %th Requestor
      %th Created
      %th UnRun
      %th Retries
      %th Failed
      %th Passed
      %th Pending
  %tbody
    - test_runs.sort_by{|t| t.created_at || Time.now }.reverse.each do |test_run|
      - cache_key = Hobson::Cache.build_key test_run, :list
      - if Hobson::Cache.has_key?(cache_key)
        = Hobson::Cache.read(cache_key)
      - else
        = render :partial => :'projects/test_runs/test_run', :object => test_run, :locals => {:cache_key => cache_key}
