- test_run_ids ||= project.test_run_ids
%table.test-runs
  %thead
    %tr
      %th
      %th Status
      %th Test Run Id
      %th Git Sha
      %th Requestor
      %th Created
      %th UnRun
      %th Retries
      %th Failed
      %th Passed
      %th Pending
  %tbody
    - test_run_ids.each do |test_run_id|
      - tr = redis.get("test_run:#{test_run_id}")
      - if tr.nil? # if we have this test run tr cached in redis
        - test_run = project.test_runs(test_run_id)
        - tr = partial :'projects/test_runs/list/test_run', :locals => {:test_run => test_run}
        - redis.set("test_run:#{test_run_id}", tr) if test_run.complete?
      = tr
