%table.test-runs
  %thead
    %tr
      %th
      %th Status
      %th Test Run Id
      %th Git Sha
      %th Requestor
      %th Created
      %th UnRun
      %th Retries
      %th Failed
      %th Passed
      %th Pending
  %tbody
    - test_run_ids.compact.each do |test_run_id|
      - cache_key = "test_run:#{test_run_id}"
      - tr = redis.get(cache_key)
      - if tr.nil? # if we have this test run tr cached in redis
        - test_run = project.test_runs(test_run_id)
        - tr = partial :'projects/test_runs/list/test_run', :locals => {:test_run => test_run}
        - if test_run.complete?
          - redis.set(cache_key, tr)
          - redis.expire(cache_key, Hobson::Project::TestRun::MAX_AGE)
      = tr
