- page_title "Test Runs | #{project.name}"
- auto_refresh!

%section.test-runs
  %a.new-test-run{:href => new_test_run_path} New Test Run

  = partial :'projects/test_runs/list', :test_runs => test_runs
